<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main/css/style.css">
    <title>Банкеты в ресторане</title>
</head>
    <body class="page-body">
        <nav>
            <div class="nav-logo">
                <a href="/">
                    <img src="static/main/img/LOGO.png" >
                </a>
            </div>
            <ul class="nav-links">
                <li class="link"><a href="menu">Меню ресторана</a></li>
                <li class="link"><a href="inter">Интерьер</a></li>
                <li class="link"><a href="bakets">Банкеты</a></li>
                <li class="link"><a href="otzv">Отзывы</a></li>
            </ul>
        </nav>
        <div class="section nav-section page banquet">
            <h1 class="page-heading">Банкеты</h1>
        </div>
        <div class="w-conteiner page-content-container">
            <div>
                <p class="page-p">
                    <span style="font-weight: 400">
                        Расположенный на берегу Финского залива, ресторан «Ель» идеально подходит для проведения торжеств.
                    </span>
                    <br>
                    <br>
                    Мы располагаем двумя вип-залами на 15 и 24 человека, в которых вы можете организовать частный праздник. Для масштабных торжеств у нас доступна уникальная опция полной аренды ресторана.
                    <br>
                    <br>
                    Какой бы праздник вы не планировали устроить, мы с удовольствием поможем в его организации.
                    <br>
                    <br>
                    Узнать все подробности можно по телефону +7 (812) 433-23-12. Внимание: так как мы находимся в удалении от цивилизации, иногда звонок нам может не проходить с первого раза. Не переживайте и попробуйте попытку через 10-15 минут. Мы обязательно вам ответим.
                    <br>
                    <br>
                </p>
            </div>
            <div class="w-row">
                <div class="detali1">
                    <div class="svadba1">
                        <h3>Свадьбы</h3>
                        <p class="page-pi">Проведите свой счастливый день бракосочетания на берегу моря, в окружении вековых деревьев.</p>
                        <a href="#" class="page-a">Детали --></a>
                    </div>
                    <div class="svadba1">
                        <h3>Корпоративы</h3>
                        <p class="page-pi">У нас есть всё, чтобы вы провели памятный вечер с коллегами.</p>
                        <a href="#" class="page-a">Детали --></a>
                    </div>
                    <div class="svadba1">
                        <h3>Фуршеты</h3>
                        <p class="page-pi">Каким бы ни был повод вашего торжества, мы подберём подходящие напитки и закуски на любой вкус.</p>
                        <a href="#" class="page-a">Детали --></a>
                    </div>
                    <div class="svadba1">
                        <h3>Бизнес-встречи</h3>
                        <p class="page-pi">У нас вы можете провести закрытое мероприятие от вашего клуба или компании.</p>
                        <a href="#" class="page-a">Детали --></a>
                    </div>
                </div>
            </div>
            <div class="opisanie">

                <div class="opisanie1">
                    <p>
                       <strong> Основной зал ресторана на 150-250 мест.</strong> Подойдет для масштабных праздников и банкетов с ведущим и развлекательной программой.
                    </p>
                </div>

                <div class="opisanie1">
                    <p>
                       <strong> Две отдельные зоны для компаний 15-25 человек.</strong> Не обязательно арендовать весь ресторан, если вы хотите устроить праздник для самых близких.
                    </p>
                </div>

                <div class="opisanie1">
                    <p>
                        <strong> Ресторан "Leon" </strong>– это место, где встречаются культура и гастрономия в идеальном сочетании. Здесь каждый гость может насладиться изысканными блюдами и уютной атмосферой.
                    </p>
                </div>
            </div>
        </div>
        <footer>
        <div class="footer-content">
            <h3>Контакты</h3>
            <p>Номер нашего администратора <a href="tel:+79632829557">+7 963 282 95-57</a></p>
        </div>
        <div class="footer-bottom">
            <p>Сделано &copy;2024 Темирнланом. для дипломной <span>работы</span></p>
        </div>
    </footer>
    </body>
</html>