
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main/css/style.css">
    <title>Ресторан леон</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="">
                <img src="static/main/img/LOGO.png" >
            </a>
        </div>
        <ul class="nav-links">
            <li class="link"><a href="menu">Меню ресторана</a></li>
            <li class="link"><a href="inter">Интерьер</a></li>
            <li class="link"><a href="bakets">Банкеты</a></li>
            <li class="link"><a href="otzv">Отзывы</a></li>
        </ul>
        <div class="bron-btn"><a href="tel:+79632829557">Забронировать</a></div>
    </nav>
    <!--Конец_меню -->
    <div class="image">
        <img src="static/main/img/bakk.jpg" class="back-image">
    </div>
    <!--О ресторане-->
    <div class="Content">
        <div class="info">
            <div class="info-res">
                <h2>О РЕСТОРАНЕ</h2>
                <p>Ресторан "Leon" – это место, где встречаются культура и гастрономия в идеальном сочетании. Здесь каждый гость может насладиться изысканными блюдами и уютной атмосферой.

                С первого взгляда на ресторан "Leon" захватывает своим элегантным дизайном и изысканной мебелью. На стенах висят произведения искусства, создающие атмосферу роскоши и изыска.</p>

                <br>Ароматы из кухни уже на входе вводят в восторг и задают тон для всего вечера. Изысканные блюда, приготовленные по рецептам шеф-поваров, не оставят равнодушным даже самого искушенного гурмана.

                Отличное обслуживание и забота о каждом госте создают атмосферу уюта и комфорта. Официанты готовы предложить лучшие вина и напитки, подобрать идеальное блюдо под ваш вкус и предпочтения.</br></P>

                <br>Ресторан "Leon" - это идеальное место для свиданий, деловых встреч и празднований. Здесь каждый гость почувствует себя особенным и желанным.

                Высокое качество обслуживания и внимание к деталям делают ресторан "Leon" одним из лучших в городе. Невозможно устоять перед его очарованием и изысканностью.</br></p>
            </div>
            <!--О ресторане конец-->

            <!--Карточки-->
            <div class="banks">
                <div class="w_row">
                    <h2>Банкеты</h2>
                    <div class="banket">
                        <p class="banket-text">Мы с удовольствием поможем организовать банкет по любому поводу.
                       <br> О доступном оборудовании и дополнительных услугах расскажем по телефону, звоните.</p>
                    </div>
                    <div class="detali">
                        <div class="svadba">
                            <h3>Свадьбы</h3>
                            <p>Проведите свой счастливый день бракосочетания на берегу моря, в окружении вековых деревьев.</p>
                            <a href="#">Детали --></a>
                        </div>
                        <div class="svadba">
                            <h3>Корпоративы</h3>
                            <p>У нас есть всё, чтобы вы провели памятный вечер с коллегами.</p>
                            <a href="korp">Детали --></a>
                        </div>
                        <div class="svadba">
                            <h3>Фуршеты</h3>
                            <p>Каким бы ни был повод вашего торжества, мы подберём подходящие напитки и закуски на любой вкус.</p>
                            <a href="#">Детали --></a>
                        </div>
                        <div class="svadba">
                            <h3>Бизнес-встречи</h3>
                            <p>У нас вы можете провести закрытое мероприятие от вашего клуба или компании.</p>
                            <a href="#">Детали --></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Конец карт-->

            <!--Menu-->
            <div class="menu-holder">
                <div class="menu-black">
                    <div class="_1100-wide">
                        <h2 class="white-menu-h">Меню</h2>
                        <p class="menu-p">
                            <span style="font-weight: 400">
                                Разнообразное меню ресторана состоит из более сотни позиций, преимущественно из морепродуктов и мяса. Акцент мы сделали на европейской кухне, добавив лучшие позиции со всего континента.
                            </span>
                            <br>
                            <br>
                            В распоряжении наших поваров две печи стран-соседей: Испании и Италии. В испанском Хоспере мы готовим сочные блюда из мяса и рыбы, а в итальянской дровяной печи выпекаем пиццу.
                            <br>
                            <br>
                            Наше меню обновляется раз в сезон и собрано так, чтобы каждый гость смог найти что-то уникальное для себя, вне зависимости от вкусовых предпочтений. Также, у нас предусмотрено отдельное меню для маленьких гостей и меню завтраков.
                            <br>
                            <br>
                            Для каждого блюда гости могут найти подходящую пару из Чайной или Барной карты. В наличии доступны аукционные вина.
                            <br>
                        </p>
                        <img src="https://restoranel.ru/wp-content/themes/restoranel/images/food-2200tyny.png" class="food-pic2">
                    </div>
                    <div class="menu-buttoms-blok">
                        <a href="static/main/img/Polnoe_menu.png" target="_blank" class="w_button button green ghost">Полное меню</a>
                        <a href="static/main/img/bar.png" target="_blank" class="w_button button green ghost">Винная карта</a>
                        <a href="static/main/img/cits_menu.png" target="_blank" class="w_button button green ghost">Детское меню</a>
                        <a href="static/main/img/zavtrak.png" target="_blank" class="w_button button green ghost">Меню завтраков</a>
                    </div>
                </div>
            </div>
            <!--End menu-->

            <div class="otzivi">
                <h2 class="otv-text">ОТЗЫВЫ</h2>
                <div class="otz">
                    <div class="w-col w-col-6">
                        <div class="testimonial-block">
                            <p class="testimonial-p">Мы очень полюбили ресторан Leon!С нетерпением ждали открытия ресторана,ну а после открытия просто стали постоянными посетителями этого заведения!Нам нравится все,и кухня и обслуживание,замечательный интерьер и местоположение.И у нас появилось чуточку такое ощущение будто это наш личный ресторан.Потому что подход к посетителям настолько добродушный и индивидуальный,что чувствуешь себя в Ели,как дома!Спасибо всему персоналу!Желаем вам процветания и успехов!С уважениям семья Абрамовых Гульнара и Александр!</p>
                            <div>-Гульнара</div>
                        </div>
                        <div class="testimonial-block">
                            <p class="testimonial-p">
                                Очень долго ждали открытия ресторана в этом месте и о, чудо, не поверили своим глазам, открылся чудесный ресторан "Leon"!
                                <br>
                                Понравилось абсолютно все:
                                <br>
                                1. Удобная, достаточно большая парковка
                                <br>
                                2. Замечательный интерьер, уютный, располагающий к отдыху, хочется сидеть у вас в гостях за бокалом вина часами напролет)
                                <br>
                                3. Потрясающий вид на финский залив, ресторан находится прямо на берегу, так же порадовало наличие летней терассы. А песчаный берег так и манит прогуляться по нему. Вообще хочу отметить, что ресторан находится в спокойном месте, в далеке от многолюдного репинокоморовского побережья
                                <br>
                                4. Очень вкусно! Действительно вкусно!
                                <br>
                                5. Хорошее, не навязчивое обслуживание.
                                <br>
                                К замечаниям хотелось бы отнести небольшую несвязность в работе персонала, видно, что все стараются, бегают, но возникают задержки в обслуживании. Видимо еще не сработались.
                                <br>
                                И хотелось бы, чтоб администрация обратила внимание на работу вечно бурчащего себе под нос официанта, бурчит он достаточно неприличные слова.
                                Желаем вам успешного развития, удачи и много гостей!
                                <br>
                            </p>
                            <div>-Лилия</div>
                            <div class="testimonial-answer">Ответ администрации ресторана</div>
                            <p class="testimonial-p answer">Лилия, спасибо за ваш отзыв! С персоналом работаем, стремимся к обслуживанию без суеты и беготни, чтобы не нарушать ауру красоты, блаженства и спокойствия. Проведём беседу с персоналом по поведению и стандартам при обслуживании.</p>
                        </div>
                    </div>
                </div>

              </div>
        </div>
    </div>
</body>
</html>