<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main/css/style.css">
    <title>Интерьер ресторана</title>
</head>
<body class="page-body">
    <nav>
        <div class="nav-logo">
            <a href="/">
                <img src="static/main/img/LOGO.png" >
            </a>
        </div>
        <ul class="nav-links">
            <li class="link"><a href="menu">Меню ресторана</a></li>
            <li class="link"><a href="inter">Интерьер</a></li>
            <li class="link"><a href="bakets">Банкеты</a></li>
            <li class="link"><a href="otzv">Отзывы</a></li>
        </ul>
    </nav>
    <div class="section nav-section page interer fix">
        <h1 class="page-heading2">Интерьер</h1>
    </div>

    <div class="w-container page-content-container">
        <p class="page-pi">
            <span style="font-weight: 400;">
                Наш интерьер – это симбиоз нескольких стилей: скандинавского, классического и лофт.
            </span>
            <br>
            <br>
            На входе гостей встречает подсчевенная мраморная стена – прямо как на второй сцене Мариинского театра. За ней начинается основной зал с оригинальным круглым камином и мансардными окнами в центре.
            <br>
            <br>
            Большая часть столиков расположена вдоль панорамных окон, из которых открывается потрясающий вид на Финский залив.
            <br>
            <br>
            В зале есть столики на компанию любого размера, от 2 до 6 человек. Доступны также  уютные кресла со столиками для одиночных гостей. А в двух отдельных зонах поместятся компании размером 15-25 человек.
            <br>
            <br>
            По выходным работает детская комната для самых маленьких гостей.
        </p>
        <div class="slider middle">
            <div class="sliders">
                <div class="slide"><img src="static/main/img/inter1.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter2.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter3.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter4.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter5.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter6.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter7.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter8.jpg" alt=""></div>
                <div class="slide"><img src="static/main/img/inter9.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div>
        <style>
            .fotorama1717446561726 .fotorama__nav--thumbs .fotorama__nav__frame{
            padding:2px;
            height:64px}
            .fotorama1717446561726 .fotorama__thumb-border{
            height:60px;
            border-width:2px;
            margin-top:2px}
        </style>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Контакты</h3>
            <p>Номер нашего администратора <a href="tel:+79632829557">+7 963 282 95-57</a></p>
        </div>
        <div class="footer-bottom">
            <p>Сделано &copy;2024 Темирнланом. для дипломной <span>работы</span></p>
        </div>
    </footer>
</body>
</html>