<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main/css/style.css">
    <title>Корпоративы в ресторане Leon</title>
</head>
<body>
    <nav>
        <div class="nav-logo">
            <a href="">
                <img src="static/main/img/LOGO.png" >
            </a>
        </div>
        <ul class="nav-links">
            <li class="link"><a href="menu">Меню ресторана</a></li>
            <li class="link"><a href="inter">Интерьер</a></li>
            <li class="link"><a href="bakets">Банкеты</a></li>
            <li class="link"><a href="otzv">Отзывы</a></li>
        </ul>
        <div class="bron-btn"><a href="tel:+79632829557">Забронировать</a></div>
    </nav>

</body>
</html>